table
{
    border-style:solid;
}
th, td
{
    border-style:solid;
}

tbody tr:nth-child(even) 
{
    background: yellow;
}

tbody tr:nth-child(odd) 
{
    background: red;
}

.outer-content
{
    overflow: hidden;
    background-color:pink;
    position: left;
    width: 75%;
    padding: 20px;
}

.inner-content
{
    background-color:blue;
    position: center;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

