<div class="about-c">
    <div class="jumbotron">
        <h1>Santa Defender: <small>About Guide</small></h1>
        <h2><small>by Team Disco</small></h2>
    </div>
    <div class="row">
        <div class='col-md-8 col-md-offset-1'>
            <h2>Background</h2>
            <p class="about-p">Frosty the Snowman's brother has had enough of Santa. In order to get revenge on Santa, Frosty bro has risen up the dead to take down Santa and ruin Christmas. Frosty bro's minions need to 
            destroy 20 presents in order to stop Santa from making Christmas happen.</p>
            <h2>Basics</h2>
            <p class="about-p"><i>The following is a brief overview of the towers and enemies used in the game.</i></p>
            <h3>Towers</h3>
            <ul>
                <li class="bullet">CandyCane Tower: Candy canes deal average damage and take average damage. The tower will cost 30 gold to build.</li>
                <img src='img/CCTowerHud.png' width='10%'>
                <li class="bullet">Reindeer Tower: More expensive CandyCane Tower as it is better in every way. The tower will cost 50 gold to build.</li>
                <img src='img/DeerCaneHud.png' width='10%'>
                <li class="bullet">Frosty Tower: Frosty's attack speed is between the Elves Tower and the Reindeer tower. The tower will cost 70 gold to build.</li>
                <img src='img/YetiCCHUD.png' width='10%'>
                <li class="bullet">Elves Tower: Attacks really fast but deals low damage and destroyed easily. The tower will cost 100 gold to build.</li>
                <img src='img/YetiGreyHUD.png' width='10%'>
                <li class="bullet">Santa Tower: Santa attacks slow but deals massive amount of damage and harder to destroy. The tower will cost 150 gold to build.</li>
                <img src='img/SantaHUD.png' width='10%'>
            </ul>
            <h3>Enemies</h3>
            <ul>
                <li class="bullet">Zombie 1: Average speed, hp and attack damage.</li>
                <img src='img/Walk_000.png' width='10%'>
                <li class="bullet">Grinch: Slightly faster and stronger than Zombie 1.</li>
                <img src='img/_1Walk_001.png' width='10%'>
                <li class="bullet">Critter: Fastest minion but has lower hp and attack damage.</li>
                <img src='img/_4Walk_000.png' width='10%'>
                <li class="bullet">Ms. Claus: Slow but hard to take down. Deals massive damage and can take a lot of damage.</li>
                <img src='img/_5Walk_000.png' width='10%'> 
            </ul>
            <h3>How and where to Place tower</h3>
            <p class="about-p">First left click onto one of the character images in the bottom right corner.</p>
            <img src='img/character_select.png' width='20%'>
            <p class="about-p">Place the towers in the grid space like in the screenshot below.</p>
            <img src='img/grid_shot.png' width='10%'>
            <h3>How save and load game</h3>
            <p class="about-p">First left click on the bottom right settings icon.</p>
            <img src='img/setting_icon.png' width='20%'>
            <p class="about-p">The following menu will open in the middle of the grid.</p>
            <img src='img/game_paused_menu.png' width='30%'>
            <p class="about-p">Select the button button labeled 'Save Game' to save and 'Load Game' to load the previous saved state.</p>
        </div>
   </div>
</div>