<div class="about-c">
    <div class="jumbotron">
        <h1>Profile</h1>
    </div>
    <br>
    <div>
        <table>
            <thead>
            <td class="table-header" style="column-span: 2">User Information</td></thead>
            <tbody>
                <tr>
                    <td class="table-content"><b>Email: </b> {{{user.email}}}</td>
                    <td class="table-content"><b>Display Name: </b> {{{user.display}}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
