{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
{{/if}}

<div class="container">
  <form data-toggle="validator" role="form" method="POST" action="/register">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" id="inputEmai" placeholder="Email" required>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
    </div>
     <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" name="passwordConfirm" class="form-control" id="confirmPassword" data-match="#inputPassword"
      data-match-error="Passwords do not match!" placeholder="Password" required>
    </div>
     <div class="form-group">
      <label for="displayName">Display Name</label>
      <input type="text" name="display" class="form-control" id="displayName" placeholder="Display">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>